<?xml version="1.0" encoding="UTF-8"?>
<SettingsConfig allowSearch="true" allowRestore="true">
	<Section title="General"
			 tooltip="General application settings">
		<Group>
			<Entry key="gui/dateformat"
				   type="list"
				   title="&amp;Date Format"
				   tooltip="Select the format to display dates as"
				   default="1">
				<Property key="_list_data" type="string">int</Property>
				<Property key="_list_elements" type="list">
				   <Element type="object">
					   <Property key="name" type="string" ts="true">Long</Property>
					   <Property key="value" type="number">0</Property>
				   </Element>
				   <Element type="object">
					   <Property key="name" type="string" ts="true">Short</Property>
					   <Property key="value" type="number">1</Property>
				   </Element>
				   <Element type="object">
					   <Property key="name" type="string" ts="true">Narrow</Property>
					   <Property key="value" type="number">2</Property>
				   </Element>
				</Property>
			</Entry>
		</Group>
		<Group title="Desktop">
			<Entry key="gui/hotkey"
				   platform="widgets"
				   type="QKeySequence"
				   title="Create Reminder &amp;Hotkey"
				   tooltip="Enter a key sequence to be used as hotkey to create a reminder"
				   default="CTRL+META+R"/>
			<Entry key="gui/notifications/blinkinterval"
				   platform="widgets"
				   type="int"
				   title="Tray Blink &amp;interval"
				   tooltip="Choose a blink interval for the tray icon in case of an important reminder (Not for KDE Notifications)"
				   default="750">
				<Property key="minimum" type="number">100</Property>
				<Property key="maximum" type="number">10000</Property>
				<Property key="singleStep" type="number">10</Property>
				<Property key="suffix" type="string" ts="true"> ms</Property>
				<Property key="accelerated" type="bool">true</Property>
				<Property key="showGroupSeparator" type="bool">true</Property>
				<!-- QML special values -->
				<Property key="from" type="number">100</Property>
				<Property key="to" type="number">10000</Property>
				<Property key="stepSize" type="number">10</Property>
			</Entry>
		</Group>
	</Section>
	<Section title="Reminders"
			 tooltip="Settings regarding the creation and snoozing of reminders">
		<Group>
			<Entry key="daemon/defaultTime"
				   type="QTime"
				   title="Default &amp;Time"
				   tooltip="The time to be used as default for new reminders/snoozing, in case the reminder is date-oriented and no time has been set. Set to &lt;b&gt;00:00&lt;/b&gt; to not set the time"
				   default="09:00">
				<Property key="specialValueText" type="string" ts="true">Not set</Property>
			</Entry>
		</Group>
		<Group title="Snoozing">
			<Entry key="daemon/snooze/default"
				   type="int"
				   title="&amp;Default snooze time"
				   tooltip="Enter a time (in minutes) as the default snooze time"
				   default="20">
			   <Property key="minimum" type="number">1</Property>
			   <Property key="maximum" type="number">14400</Property><!--max 10 days-->
			   <Property key="suffix" type="string" ts="true"> minutes</Property>
			   <!-- QML special values -->
			   <Property key="from" type="number">1</Property>
			   <Property key="to" type="number">14400</Property>
			</Entry>
			<Entry key="daemon/snooze/times"
				   type="SnoozeTimes"
				   title="&amp;Predefined snooze times"
				   tooltip="Create custom standard snooze times for fast selection from the combo box">
				<Property key="times" type="list">
					<Element type="string" ts="true">in 20 minutes</Element>
					<Element type="string" ts="true">in 1 hour</Element>
					<Element type="string" ts="true">in 3 hours</Element>
					<Element type="string" ts="true">tomorrow</Element>
					<Element type="string" ts="true">in 1 week on Monday</Element>
				</Property>
			</Entry>
		</Group>
	</Section>
</SettingsConfig>
