#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.1
Name=Syrem-Service
Comment=The Background-Service for Syrem
Categories=Utility;Qt;
Exec=syremd
Icon=system-run
Terminal=false
