<?xml version="1.0" encoding="UTF-8"?>
<SettingsConfig allowSearch="true" allowRestore="true">
	<Group>
		<Entry key="gui/dateformat"
			   type="list"
			   title="&amp;Date Format"
			   tooltip="Select the format to display dates as"
			   default="1">
			<Property key="_list_data" type="string">int</Property>
			<Property key="_list_elements" type="list">
			   <Element type="object">
				   <Property key="name" type="string" ts="true">Long</Property>
				   <Property key="value" type="number">0</Property>
			   </Element>
			   <Element type="object">
				   <Property key="name" type="string" ts="true">Short</Property>
				   <Property key="value" type="number">1</Property>
			   </Element>
			   <Element type="object">
				   <Property key="name" type="string" ts="true">Narrow</Property>
				   <Property key="value" type="number">2</Property>
			   </Element>
			</Property>
		</Entry>
		<Entry key="gui/hotkey"
			   type="QKeySequence"
			   title="Create Reminder &amp;Hotkey"
			   tooltip="Enter a key sequence to be used as hotkey to create a reminder"
			   default="CTRL+META+R"/>
	</Group>
	<Group title="Reminder &amp;Notifications"
		   key="gui/notifications">
		<Entry key="blinkinterval"
			   type="int"
			   title="Blink &amp;interval"
			   tooltip="Choose a blink interval for the tray icon in case of an important reminder (Not for KDE Notifications)"
			   default="750">
			<Property key="minimum" type="number">100</Property>
			<Property key="maximum" type="number">10000</Property>
			<Property key="singleStep" type="number">10</Property>
			<Property key="suffix" type="string" ts="true"> ms</Property>
			<Property key="accelerated" type="bool">true</Property>
			<Property key="showGroupSeparator" type="bool">true</Property>
		</Entry>
		<Entry key="action"
			   type="list"
			   title="Default &amp;Action"
			   tooltip="The action to perform when the notification is clicked (instead of one of the buttons, KDE Notifications only)"
			   default="0">
			<Property key="_list_data" type="string">string</Property>
			<Property key="_list_elements" type="list">
			   <Element type="object">
				   <Property key="name" type="string" ts="true">&lt;None&gt;</Property>
				   <Property key="value" type="string"></Property>
			   </Element>
			   <Element type="object">
				   <Property key="name" type="string" ts="true">Complete</Property>
				   <Property key="value" type="string" ts="true">Complete</Property>
			   </Element>
			   <Element type="object">
				   <Property key="name" type="string" ts="true">Snooze</Property>
				   <Property key="value" type="string" ts="true">Snooze</Property>
			   </Element>
			</Property>
		</Entry>
	</Group>
</SettingsConfig>
